h3 {
  padding: 0;
  margin: 0;
}

.profileBlock {
  position: relative;
  display: flex;
  background-color: #fff;
  width: 275px;
  height: 55px;
  border-radius: 30px;
  padding: 5px;
}

.titleProfile {
  position: absolute;
  top: 20px;
  left: 25px;
}

.span {
  color: #734495;
}

.avatar {
  position: absolute;
  top: 7px;
  right: 10px;
  background-color: #f5f5f5;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
